<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WatchListMVC</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WatchListMVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
    </header>
    <div class="sidebar d-flex">
        <nav class="bg-dark text-light vh-100 p-3 modern-sidebar" style="width: 250px;">
            <h4 class="text-left mb-4">Vanessa's Movies</h4>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <a class="nav-link text-light d-flex align-items-center" asp-area="" asp-controller="Movie" asp-action="Add">
                        <i class="bi bi-plus-circle me-2"></i> Add Movie
                    </a>
                </li>
            </ul>
            <hr class="text-secondary">
        </nav>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
